* {
    margin: 0px;
    padding: 0px;
}

header {
    position: sticky;
    top: 0px;
    margin: auto;
    width: 100%;
    height: 86px;
    background-color: #ffffff;
    z-index: 9999;
}

.el-dialog__wrapper {
    z-index: 9998;
    /* 将 el-dialog 的 z-index 值设置为比 sticky 元素更低的值 */
}

body {
    /* min-width: 1440px; */
    font-family: PingFangSC-Regular, PingFang SC;
}

.headerbox {
    position: sticky;
    top: 0px;
    background-color: #f8f8f8;
    margin: auto;
    /* width: 1440px; */
    width: 1552px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.switch {
    display: none;
}

.logo {
    margin-top: 11px;
    margin-left: 122px;
}

.logo-a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoimg {
    width: 320px;
    height: 65px
}

.icon {
    width: 52px;
    height: 52px;
}

.nav {
    /* width: 768px; */
    /* width: 880px; */
    width: 725px;
    height: 70px;
    margin-top: 8px;
}

.nav a {
    width: 106px;
    height: 30px;
    float: left;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    transition: background 0.6s, color 0.6s;
}

/* .nav a:visited {
    background: #3381f5;
    color: #ffffff;
  } */
.active {
    color: #ffffff !important;
    background: #3381f5;
}

.nav a:hover {
    background: #3381f5;
    color: #ffffff;
}

.nav-item {
    width: 112px;
    float: left;
    height: 70px;
    display: flex;
    justify-content: center;
}

.nav-item-index {
    width: 80px;
    float: left;
    height: 70px;
    display: flex;
    justify-content: center;
}

.nav-item-intro {
    width: 128px;
    float: left;
    height: 70px;
    display: flex;
    justify-content: center;
}


.banner {
    /* width: 1440px;
      height: 380px; */
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* padding-top: 86px; */
}

.banner img {
    width: 100%;
    height: 100%;
    margin: auto;
}

footer {
    background: #353535;
}

.footer-nav-box {
    /* width: 1440px; */
    height: 256px;
    background: #353535;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.footer-nav-box a {
    text-decoration: none;
}

.footer-nav-content {
    display: flex;
    justify-content: center;
    /* margin-top: 2%;
    margin-left: 10%; */
    margin: auto;
}

.units-and-links {
    /* width: 602px; */
    width: 100%;
    height: 127px;
    margin-top: 60px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.units-and-links-title {
    width: 33.333%;
}

.units,
.links,
.allunit {
    /* width: 100%; */
    width: 1240px;
    display: flex;

    /* flex-direction: column; */
    flex-wrap: wrap;
}

.allA {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-nav-box-allunit,
.footer-nav-box-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 0 auto
}

.footer-nav-box-unit {
    width: 33.33333333%;
    height: 26%;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 17px;
    /* margin-bottom: 12px; */
    /* margin-right: 60px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 0 auto
}

.haiguan {
    /* margin-right: 40px; */
    margin-bottom: 40px;
}

.qrcode {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 159px;
}

.footer-nav-box-qrcode {
    width: 100px;
    height: 100px;
}

.footer-nav-box-qrcode-explain {
    width: 98px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
}

.rectangle-4 {
    width: 1240px;
    /* width: 100%; */
    height: 1px;
    background: #969696;
    margin: auto;
    margin-top: 25px;
}

.copyright-and-business-license {
    width: 500px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #B6B6B6;
    line-height: 20px;
    margin: auto;
    margin-top: 20px;
}

.copyright-and-business-license a {
    color: #B6B6B6;
}

.copyright-and-business-license-a2 {
    margin-left: 20px;
}

.news-information-content-item-content-details:hover {
    /* box-shadow: 0 0 10px rgba(0, 0, 0);
      border-radius: 5px;
      transition: all 0.5s; */
}

.nav-item-menu {
    float: left;
    width: 112px;
    display: flex;
    /* padding-top: 20px; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 99999999999;
}

.nav-item-enter {
    width: 112px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    width: 112px;

    background-color: #FFFFFF;
    border-radius: 5px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-item div {
    width: 106px;
    float: left;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    transition: background 0.6s, color 0.6s;
    cursor: pointer;
}


.mobile-item {
    display: none;
}

.nav-item div {
    width: 106px;
    height: 30px;
    float: left;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    transition: background 0.6s, color 0.6s;
    cursor: pointer;
}

.nav-item div:hover {
    background: #3381f5;
    color: #ffffff;
}

.menu-item div:hover {
    background: #3381f5;
    color: #ffffff;
}

.nav-item-menu-user {
    float: left;
    width: 112px;
    display: flex;
    /* padding-top: 20px; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 99999999999;
}

.avatar {
    /* width: 50px;
    height: 50px; */
    height: 120px;
    padding: 0px 10px;
    /* border-radius: 15px; */
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.avatar img {
    width: 50px;
    /* height: 50px; */
}

.menu-item-user {
    width: 240px;
    height: 120px;
    /* background-color: #3381f5; */
    padding-left: 128px;
    border-radius: 15px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #ffffff; */
}

.menu-item-user div>div:hover {
    color: #f63;
}

.menu-item-user-content {
    height: 100%;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    /* margin-bottom: 10px; */
}

.username {
    margin-top: 10px;
}

.fansandreview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fansnum {
    margin-right: 20px;
}

.loginOut {
    margin-bottom: 10px;
    cursor: pointer;
}

/* html,
  body {
    overflow: hidden;
    height: 100%;
  } */
/* .positionCity {
    display: flex;
    justify-content: center;
    align-items: center;
} */